.tooltip
{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	position: absolute;
	z-index: 99999; 
	z-index: 99999;
	
	border-radius: 4px;
	font: italic 14px/1.3 arial, sans-serif;
	color: #333;
	background: #EFE4B0;
	/*
	box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
	*/
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
