html, body, body.x-body
{
	/*
	background-image: url(/img/png/background2.PNG); repeat-y;
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); 
	*/
	background: #f0f0f0 !important;  	
}