html, body, body.x-body
{
	/*
	background-image: url(/img/png/background4.PNG); repeat-y;
	background: #588900; background: linear-gradient(to top, #596000, #69a300); 
	*/
	background: #f0f0f0 !important;  	
}