html, body, body.x-body
{
	/*
	background-image: url(/img/png/background3.PNG); repeat-y;
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); 
	*/
	background: #f0f0f0 !important;  	
}