html, body, body.x-body
{
	/*
	background-image: url(/img/png/background1.PNG); repeat-y;
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); 
	*/
	background: #f0f0f0 !important;  	
}