/*4EXTJS BEGIN------------------------------------------------------------------------------------------------------------------*/
.ext-body
{
	margin: 0px;
	padding: 0px;
	width: calc(100%);
	height: calc(100% - 48px);
	/*
	background: #ebebeb;  
	position:absolute;
	left: 50px;
	top: 90px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	*/
}

.x-btn-icon-el-default-toolbar-small.x-btn-glyph 
{
    opacity: 0.85 !important;
}

.x-menu-item-icon-default.x-menu-item-glyph {
    opacity: 0.85 !important;
}


table.td-table td
{
	text-overflow: ellipsis;
	overflow: hidden;
}
table.td-table th span.td-order
{
	display: inline-block;
	max-width: calc(100% - 30px);
	text-overflow: ellipsis;
	overflow: hidden;
}
/* Подсветка выходных в календаре */
td.ui-datepicker-week-end a.ui-state-default 
{
	border-color: #BBBBBB;
	background: #BBBBBB;
}
/* Подсветка праздников в календаре */
.ui-datepicker-calendar td.highlight a
{
	color: white;
	border-color: red;
	background: red;
}
/* Подсветка рабочих выходных в календаре */
.ui-datepicker-calendar td.lowlight a
{
	color: white;
	border-color: #555555;
	background: #555555;
}
/*4EXTJS END------------------------------------------------------------------------------------------------------------------*/
.attention 
{
	background: yellow;
}
.theme1 
{
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
	border-radius: 5px;
	padding: 5px;
}
.theme2 
{
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
	border-radius: 5px;
	padding: 5px;
}
.theme3 
{
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
	border-radius: 5px;
	padding: 5px;
}
.theme4 
{
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
	border-radius: 5px;
	padding: 5px;
}
html, body
{
	margin: 0px;
	padding: 0px;
	/*font-family: Tahoma;*/
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 13px;
	line-height: 17px;
	/*
	font-size: 14px;
	*/
	width: 100%;
	height: 100%;
	background: #f0f0f0; 
}
img
{
	border: none;
}
h1, h2, h3, h4, h5, h6
{	
	color: #004930;
	text-align: center;
	/* margin: 0; */
}
h1
{
	font-size: 140%;
}
h2
{	
	font-size: 120%;
}
a
{
	color: #004930;
}
ul 
{
	margin:0px;
}
.main
{
	padding-bottom: 10px;
}
.main h1 
{
	color: #555;
	margin-top: 14px;
}
input[type=submit], input[type=button] 
{
	cursor: pointer;
}
th
{
	color: #fff;
	background: #004930;
	border: 1px solid grey;
	padding: 4px;
	text-align: center;
}
th a
{
	color: #fff;
}
tbody.scroll 
{
	height: 800px;
	overflow: auto;
}
.login-body 
{
	background: #eee;
	background-image: url(/img/png/background1.PNG); repeat-y;
}
.login-submit 
{
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #0c8689;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.login-submit:hover 
{
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #12a6aa;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.top-header 
{
	height: 48px;
	width: 100%;
/*	z-index: 10000; */
	position: relative;
	/* 
	min-width: 1000px;
	*/
	border: 20px;
	overflow: hidden;
}
.top-header .th-user 
{
	float: right;
	overflow: hidden;
	padding: 0px;
	height: 48px;
    color: #fff;
	/*
	position: relative;
	top: -0px;
	*/
}
.top-header .th-logo-dev
{
	/*background-color: rgba(0,0,0,0.1);*/
	background-color: rgba(0,0,0,0);
	float: left;
	width: 85px;
	height: 100%;
	text-align: center;
	line-height: 48px;
	min-width: 80px;
}
.top-header .th-logo-dev a
{
	height: 48px;
	width: 100%;
	color:#fff;
	text-decoration: none;
	display: inline-block;
	font-size: 150%;
	font-weight: 600 !important;
}

/****************************************/
/************ вход в систему ************/
/****************************************/
.login_panel
{
	margin: 0 auto;
	width: 290px;
	height: 150px;
	padding: 20px;
}
.login_panel h1
{
	margin-bottom: 15px;
}
.login_panel p
{
	margin: 5px;
	padding: 0px;
}
.login_panel input
{
	width: 135px;
	margin-right: 55px;
}
.login_panel input[type="submit"]
{
	width: auto;
	margin-right: 130px;
}
/****************************************/
/***************** меню *****************/
/****************************************/
ul.main_menu, ul.sub_menu 
{
	list-style-type:none;
}
.main_menu_container
{
	height: 48px;
	padding: 0px 0px;
	/*
	display: inline-block;
	background-color: red;
	width: 600px;
	*/
}
.main_menu 
{
	height: 48px;
	font-size: 14px;
	line-height: 48px;
	padding-left: 0px;
	/*
	width: auto;
	font-family: fantasy;
	font-family: cursive;
	font-family: Verdana;
	background-color: red;
	*/
}
.main_menu2
{
	/*
	position: relative;
	top: -8px;
	*/
}
.main_menu :last-child 
{
	border-right: none;
}
.main_menu li 
{
	list-style: none;
	display: inline-block;
	border-left: 0px solid #5d79a3;
	border-right: 0px solid #415370;
	padding: 0 10px;
	/*AVD*/
	color:#fff;
	height: 48px;
}
.main_menu li a 
{
	color:#fff;
	width: 100%;
	text-decoration: none;
	font-weight: 100 !important;
	display: inline-block;
}
.main_menu li a i 
{
	margin-right: 10px;
}
.main_menu li a img
{
	-display: none;
	position: relative;
	top: 8px;
}
.main_menu li:hover 
{
	background: rgba(0,0,0,0.2);
}
.sub_menu li a:hover 
{
	/*
	background: rgba(0,0,0,0.2);
	text-decoration: none;
	*/
}
.login
{
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
	user-select: none; */
}
.login-card 
{
	padding: 40px;
	width: 274px;
	/*
	background-color: #F7F7F7;
	margin: 50px auto 10px;
	*/
	border-radius: 8px;
	/* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3); 
	overflow: hidden;
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
	color: #ffffff;
}
.login-card h1
{
	font-weight: 900;
	text-align: center;
	color: #ffffff;
}
.login-card h2
{
	font-weight: 100;
	text-align: center;
	color: #ffffff;
}
.login-card a
{
	color: #ffffff;
}
.login-card input[type=submit] 
{
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
	border-radius: 8px;
	height: 45px;
	border: 1px solid #d9d9d9;
}
.login-card input[type=text]
{
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 8px;
}
.login-card input[type=password] 
{
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 8px;
}
.login-card input:-webkit-autofill 
{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
	color: #ffffff;
}
.login-card input[type=text]:hover
{
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 8px;
}
.login-card input[type=password]:hover 
{
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 8px;
}
.logotype-img 
{
	position: relative;
	text-align: center;
	padding: 30px 0px 30px 0px;
}
/****************************************/
/****** отображение верхней части *******/
/****************************************/
.logo{
	top: 0px;
	color: #0c8689;
	background:white;
	text-align: center;
	font-size: 24px;
	font-family: 'Arian AMU';
}
.sub_menu 
{
	position: absolute;
	display: none;
	background: #fff;
	padding: 9px;
	line-height: 1.5;
	max-width: 300px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	z-index: 99999;
	margin-left: -12px;
	margin-top: -2px;
}
.sub_menu a 
{
	color: #606060;
	text-decoration: none;
	/**/
	color: #ffffff;
}
.sub_menu a:hover 
{
	color: #2f2f2f;
	text-decoration: underline;
	/**/
	color: #ffffff;
}
.menu_separator 
{
	border-bottom: 1px dashed #9e9e9e;
	color: #9e9e9e;
	font-weight: bold;
	margin: 5px 0;
	font-size: 11px;
	/**/
	color: #dddddd;
}
.header-link
{
	/*
	height: 48px;
	border-color: #e0e0e0; 
	color: #777777;
	background: #a0a0a0; 
	border-top: 1px solid #a0a0a0;
	----
	border-top: 1px solid #586f91;
	background: #e0e0e0; 
	background: none; 
	*/
}
.header-link h1
{
	color: #777777;
    padding: 10px 0;
    margin: 0;
}
.content-pane .td-table 
{
	margin: 0;
}
.body 
{ 
    padding-left: 5px;
    padding-right: 15px;
}
.header-tools 
{
	/*
	background: #e0e0e0; 
	*/
	background: none; 
	border-color: #e0e0e0; 
	height: 48px;
	width: 100%;
	color: #777777;
}
.header-tools h1
{
	color: #777777;
    padding: 10px 0;
    margin: 0;
}
.top-header-lnk 
{
	padding: 0 7px;
	border-left: 0px solid #5d79a3;
    border-right: 0px solid #415370;
    height: 48px;
    display: inline-block;
    text-decoration: none;
	position: relative;
}
.top-header-lnk img
{
	position: relative;
	top: 8px;
}
.top-header .th-user a 
{
	color: #fff;
}
.top-header-lnk:hover 
{
	background-color: rgba(0,0,0,0.1);
}
.top-header .th-user > * 
{
	display: inline-block;
}
.top-header .th-user 
{
	color: #fff;
	line-height: 48px;
	padding: 0 0px;
	height: 48px;
}
.user_change_form 
{
	/*
	position: relative;
	top: -2px;
	*/
	width: 100%
}
.user_change_form select 
{
	color: #FFFFFF;
	border-top: 0px solid #5d79a3;
	border-bottom: 0px solid #5d79a3;
	border-left: 0px solid #5d79a3;
	border-right: none;
	background-color: #415370;
	padding: 5px;
	border-radius: 5px 0 0 5px; 
	outline: none;
}
.user_change_form input[type="submit"] 
{
	color: #FFFFFF;
	border: 0px solid #5d79a3;
	background-color: #415370;
	padding: 6px 5px;
	border-radius: 0 5px 5px 0; 
}
.user_change_form select:hover 
{
	background-color: #5d79a3;
}
.user_change_form input[type="submit"]:hover 
{
	background-color: #5d79a3;
}
.user_select 
{
	width: 110px;
}
.user_pic
{
	width: 48px;
	height: 48px;
	overflow: hidden;
}
.user_pic2
{
	width: 40px;
	height: 40px;
	margin: 4px;
	overflow: hidden;
	/*
	position: relative;
	top: 4px;
	*/
	border-radius: 20px;
}
.user_pic img
{
	/*
	width: 40px;
	*/
}
.user_info
{
	height: 48px;
	overflow: hidden;
	/*
	*/
}
.user_info2
{
	width: 120px;
	height: 48px;
	font-size: 90%;
	display: table-cell;
	vertical-align: middle;
	/*
	font-style: italic;
	overflow: hidden;
	line-height: 1.2;
	text-align: center;
	background-color: black;
	*/
	line-height: 16px;
}
table
{
	/*
	border: 1px; 
	background: #ffffff; 
	*/
}
.php-dialog
{
	display: inline-block;
	padding: 15px;
	background: #ebebeb;  
	color: #555555;
	border: solid 1px #636363;   
	border-radius: 8px;
	box-shadow: 10px 10px 2px rgba(0,0,0,.2);
}
.php-dialog table
{
	background: #ebebeb;  
	border-color: #ebebeb;  
}
.php-dialog table th
{
	background: #ebebeb;  
	border-color: #ebebeb;  
	color: #555555;
	text-align: left;
}
.php-dialog table td
{
	background: #ebebeb;  
	border-color: #ebebeb;  
	color: #555555;
	text-align: left;
}

.filter_contaner_edit {
	width: 630px;
	margin: 30px auto;
	/*
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);

	display: inline-block;
	*/
	padding: 15px;
	background: #ebebeb;  
	color: #555555;
	border: solid 1px #636363;   
	border-radius: 8px;
	box-shadow: 10px 10px 2px rgba(0,0,0,.2);
}

.filter_contaner_edit input {
	display: block;
}

.filter_contaner_edit label {
	display: block;
}

.filter_contaner_edit .checkboxes label {
	display: inline !important;
	margin-right: 20px;
}

.filter_contaner_edit select {
	display: block;
}


.filter_contaner_edit ul {
	padding: 0;
	margin: 0;
	float: left;
}

.filter_contaner_edit ul li {
	list-style: none;
}

.filter_contaner_edit input[type="text"] {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	width: 300px;
	margin-top: 4px;
}

.filter_contaner_edit select {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	width: 312px;
	margin-top: 4px;
}

input[name="delete_user"] {
	width: 180px !important;
}

.profile_pic
{
	width: 208px;
	height: 208px;
	overflow: hidden;
}
.profile_pic2
{
	width: 200px;
	height: 200px;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #555555;
}
.profile_pic img
{
	position: relative;
}

.thesis-info h1 {
	margin-top:20px;
}
