.modal-editbox .title , .modal-mergebox .title
{   
	background: #ebebeb;  
	color: #555555;
	border-radius: 8px;
}
.modal-editbox .body  button , .modal-mergebox .body  button
{   
	background: #ebebeb;  
	color: #555555;  
	border: solid 1px #555555;
}
.modal-editbox , .modal-editbox-move , .modal-mergebox , .modal-mergebox-move   
{   
	-border: solid 1px #ebebeb;   
	border: solid 1px #555555;
}
.modal-editbox .body  button img, .modal-mergebox .body  button img
{
	position: relative;
	top: -1px;	
}