/*

используется:
- план доходов
- версии пфхд

*/

#plan_dohod_filter {
	text-align: center;
	margin-top: 20px;
}

#plan_dohod_filter select[name="pp_id"] {
	width: 130px;
}
#plan_dohod_filter select[name="pdv_id"] {
	width: 130px;
}

#plan_dohod_filter input[name="create_version"] {
	margin-left: 50px;
}

#pfhd_filter {
	text-align: center;
	margin-top: 20px;
}

#pfhd_filter select[name="pp_id"] {
	width: 130px;
}
#pfhd_filter select[name="pdv_id"] {
	width: 130px;
}

#pfhd_filter input[name="create_version"] {
	margin-left: 50px;
}

#create_version_div {
	text-align: right;
}

#create_version_div input, #create_version_div select {
	width: 250px;
	font-size: 18px;
	box-sizing: border-box;
	margin: 5px;
}

#create_version_div input[type="button"] {
	margin-right: 10px;
}