.login-card 
{
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
.login-card input[type=submit] 
{
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
html, body
{
	/*background-image: url(/img/png/background3.PNG); repeat-y;*/
}
.top-header 
{
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
.sub_menu 
{
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
th
{
	background: #005fac; /* Палитра 3 */
}
.modal-editbox .title , .modal-mergebox .title
{   
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
.modal-editbox .body  button , .modal-mergebox .body  button
{   
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
.modal-editbox , .modal-editbox-move , .modal-mergebox , .modal-mergebox-move   
{   
	border: solid 4px #005fac;   
}
.user_change_form select 
{
	background-color: #005fac;
}
.user_change_form select:hover 
{
	background-color: #005fac;
}
.user_change_form input[type="submit"] 
{
	background-color: #005fac;
}
/*
	Диалоги JQuery	
*/
.ui-widget-header
{
	background: #005fac; background: linear-gradient(to top, #004179, #0071cc); /* Палитра 3 */
}
