.login-card 
{
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
.login-card input[type=submit] 
{
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
html, body
{
	/*background-image: url(/img/png/background2.PNG); repeat-y;*/
}
.top-header 
{
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
.sub_menu 
{
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
th
{
	background: #007878; /* Палитра 2 */
}
.modal-editbox .title , .modal-mergebox .title
{   
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
.modal-editbox .body  button , .modal-mergebox .body  button
{   
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
.modal-editbox , .modal-editbox-move , .modal-mergebox , .modal-mergebox-move   
{   
	border: solid 4px #007878;   
}
.user_change_form select 
{
	background-color: #007878;
}
.user_change_form select:hover 
{
	background-color: #007878;
}
.user_change_form input[type="submit"] 
{
	background-color: #007878;
}
/*
	Диалоги JQuery	
*/
.ui-widget-header
{
	background: #007878; background: linear-gradient(to top, #006666, #007f7f); /* Палитра 2 */
}
