.login-card 
{
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
.login-card input[type=submit] 
{
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
html, body
{
	/*background-image: url(/img/png/background4.PNG); repeat-y;*/
}
.top-header 
{
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
.sub_menu 
{
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
th
{
	background: #588900; /* Палитра 4 */
}
.modal-editbox .title , .modal-mergebox .title
{   
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
.modal-editbox .body  button , .modal-mergebox .body  button
{   
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
.modal-editbox , .modal-editbox-move , .modal-mergebox , .modal-mergebox-move   
{   
	border: solid 4px #588900;   
}
.user_change_form select 
{
	background-color: #588900;
}
.user_change_form select:hover 
{
	background-color: #588900;
}
.user_change_form input[type="submit"] 
{
	background-color: #588900;
}
/*
	Диалоги JQuery	
*/
.ui-widget-header
{
	background: #588900; background: linear-gradient(to top, #596000, #69a300); /* Палитра 4 */
}
