.login-card 
{
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
.login-card input[type=submit] 
{
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
html, body
{
	/*background-image: url(/img/png/background1.PNG); repeat-y;*/
}
.top-header 
{
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
.sub_menu 
{
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
th
{
	background: #e98600; /* Палитра 1 */
}
.modal-editbox .title , .modal-mergebox .title
{   
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
.modal-editbox .body  button , .modal-mergebox .body  button
{   
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
.modal-editbox , .modal-editbox-move , .modal-mergebox , .modal-mergebox-move   
{   
	border: solid 4px #e98600; 
}
.user_change_form select 
{
	background-color: #e98600;
}
.user_change_form select:hover 
{
	background-color: #e98600;
}
.user_change_form input[type="submit"] 
{
	background-color: #e98600;
}
/*
	Диалоги JQuery	
*/
.ui-widget-header
{
	background: #e98600; background: linear-gradient(to top, #e68300, #c27700); /* Палитра 1 */
}
