@function contrast_color_by($base_color_var, $percent) {
  @return if(lightness($base_color_var) > 50, darken($base_color_var, $percent), lighten($base_color_var, $percent));
}
@function reverse_gradient_for($gradient) {
  @if $gradient == 'matte' {
    @return 'matte-reverse';
  }
  @else if $gradient == 'matte-reverse' {
    @return 'matte';
  }
  @else if $gradient == 'bevel' {
    @return 'recessed';
  }
  @else if $gradient == 'recessed' {
    @return 'bevel';
  }
  @else if $gradient == 'glossy' {
    @return 'glossy-reverse';
  }
  @else if $gradient == 'glossy-reverse' {
    @return 'glossy';
  }
  @else {
    @return $gradient;
  }
}
$treelist_toolstrip_background_color: contrast_color_by($background_color, 3);
$color: contrast_color_by($background_color, 100);
$neutral_color: contrast_color_by($background_color, 12);
$highlight_color: contrast_color_by($background_color, 60);
$light_color: $background_color;
$loading_spinner_color: contrast_color_by($background_color, 33);
$progress_text_front_color: $background_color;
$progress_text_back_color: contrast_color_by($background_color, 100);
$panel_header_color: $background_color;
$titlebar_color: $background_color;
$titlebar_title_color: $background_color;
$tip_body_color: contrast_color_by($background_color, 100);
$panel_tool_color: $background_color;
$progress_bar_background_gradient: $base_background_gradient;
$panel_header_background_gradient: $base_background_gradient;
$button_background_gradient: $base_background_gradient;
$button_badge_background_gradient: $base_background_gradient;
$titlebar_background_gradient: $base_background_gradient;
$toolbar_background_gradient: $base_background_gradient;
$pagingtoolbar_background_gradient: $base_background_gradient;
$tab_background_gradient: $base_background_gradient;
$tab_active_background_gradient: $base_background_gradient;
$tab_badge_background_gradient: $base_background_gradient;
$tabbar_background_gradient: $base_background_gradient;
$button_pressed_background_gradient: reverse_gradient_for($base_background_gradient);