<style>
	.text{
	  mso-number-format:"\@";/*force text*/
	}
</style>

<?php if (/*gz_44_status_name($year, $ver) != 'Черновик' ||*/ isset($_GET['download'])): ?>
<h3><center>
План-график размещения заказов на поставку товаров, выполнение работ, оказание услуг <br/>
для обеспечения государственных и муниципальных нужд на 2016 год
</center></h3>
 <!-- <table border="1" style="width: 100%"> -->
<table border = "1" cellpadding = "3" cellspacing = "1" frame = "border" rules = "all">
	<tr>
		<td>Наименование заказчика</td>
		<td colspan="7"><?= $requisits['FullName'] ?></td>
	</tr>
	<tr>
		<td>Адрес местонахождения</td>
		<td colspan="7"><?= $requisits['address'] ?></td>
	</tr>
	<tr>
		<td>Телефон заказчика</td>
		<td colspan="7"><?= $requisits['gzContactPhone'] ?></td>
	</tr>
	<tr>
		<td>Электронная почта заказчика</td>
		<td colspan="7"><?= $requisits['gzContactEmail'] ?></td>
	</tr>
	<tr>
		<td>ИНН</td>
		<td colspan="7" align="left"><?= $requisits['inn'] ?></td>
	</tr>
	<tr>
		<td>КПП</td>
		<td colspan="7" align="left"><?= $requisits['kpp'] ?></td>
	</tr>
	<tr>
		<td>ОКАТО</td>
		<td colspan="7" align="left"><?= $requisits['oktmoCode'] ?></td>
	</tr>
</table><br />
<?php endif; ?>

<?php if(isset($_GET['download'])): ?>
<!-- <table border="1" style="width: 100%"> -->
<table style="width: 100%" border = "1" cellpadding = "3" cellspacing = "1" frame = "border" rules = "all">
<?php else: ?>
<table class="td-table">
<?php endif; ?>
	<tr>
	<?php if(!isset($_GET['download'])): ?>
		<th rowspan="3">ID</th>
		<th rowspan="3">V.</th>
		<th rowspan="3">Действия</th>
	<?php endif; ?>
		<th rowspan="3">КБК</th>
		<th rowspan="3">ОКВЭД</th>
		<th rowspan="3">ОКПД</th>
		<th colspan="9">Условия контракта<? if(!isset($_GET['download'])) echo ' (количество записей: ' . count($dogovor_gz_rows) . ')' ; ?></th>
		<th rowspan="3">Способ размещения заказа</th>
		<th rowspan="3">Обоснование внесения изменений</th>
	</tr>
	<tr>
		<th rowspan="2">№ заказа (№ лота)</th>
		<th rowspan="2">Наименование предмета контракта</th>
		<th rowspan="2">Минимально необходимые требования, предъявляемые к предмету контракта</th>
		<th rowspan="2">Единица измерения</th>
		<th rowspan="2">Количество (объем)</th>
		<th rowspan="2">Ориентировочная начальная (максимальная цена контракта)</th>
		<th rowspan="2">Условия финансового обеспечения исполнения контракта</th>
		<th colspan="2">График осуществления процедур закупки</th>
	</tr>
	<tr>
		<th>Срок размещения заказа (мес., год)</th>
		<th>Срок исполнения заказа (мес., год)</th>
	</tr>
	<tr>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
		<th>6</th>
		<th>7</th>
		<th>8</th>
		<th>9</th>
		<th>10</th>
		<th>11</th>
		<th>12</th>
		<th>13</th>
		<th>14</th>
	<?php if(!isset($_GET['download'])): ?>
		<th>15</th>
		<th>16</th>
		<th>17</th>
	<?php endif; ?>
	</tr>
	<?php foreach($dogovor_gz_rows as $row): ?>
	<tr>
	<?php if(!isset($_GET['download'])): ?>
		<td><a target="_blank" href="/dogovor.php?id=<?= $row['dogovor_id'] ?>"><?= $row['dogovor_id'] ?></a></td>
		<td align='center'><?= $row['dgz_ver'] ?></td>
		<td align='center'>
		<form onSubmit='return confirm("Вы действительно хотите удалить договор гос.закупки <?=$row['dogovor_id']?> (<?=$row['id']?>) из текущего план-графика?");'>
		<input type="hidden" name='year' type="submit" value="<?=$year?>">
		<input type="hidden" name='ver' type="submit" value="<?=$ver?>">
		<input type="hidden" name='delete_id' type="submit" value="<?=$row['id']?>">
		<input name="deleteone" type=submit value="Удалить">
		</form>
		</td>
	<?php endif; ?>
		<td class="text"><?= $row['kvr'] ?></td>
		<td><?= $row['okved'] ?></td>
		<td><?= $row['okpd'] ?></td>
		<td><?= $row['pos_num'] ?></td>
		<td><?= $row['subject'] ?></td>
		<td><?= $row['demand'] ?></td>
		<td><?= $row['localSymbol'] ?></td>
		<td><?= $row['quantity'] ?></td>
		<td align="right"><?= $row['contract_max_price'] ?></td>
		<td align="right"><?= $row['zayav_guarantee'] ?>/<?= $row['contract_guarantee'] ?></td>
		<td class="text" align="center"><?= splitDeadlineDate($row['period_place']) ?></td>
		<td class="text" align="center"><?= splitDeadlineDate($row['period_finish']) ?></td>
		<td><?= $row['placing_way_name'] ?></td>
		<td><?= $row['change_reason_info'] ?></td>
	</tr>	
	<?php endforeach; ?>
	<?php foreach($finals as $final): ?>
	<tr id="less100">
		<th colspan=17>товары, работы или услуги на сумму, не превышающую ста тысяч рублей (закупки в соответствии с п. 4, 5, 23, 26, 33, 42, 44 части 1 статьи 93 Федерального закона № 44-ФЗ)</td>
	</tr>
	<tr>
	<?php if(!isset($_GET['download'])): ?>
		<form>
		<input type="hidden" name='year' type="submit" value="<?=$year?>">
		<input type="hidden" name='ver' type="submit" value="<?=$ver?>">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><input name="update_final" type=submit value="Применить"></td>		
	<?php endif; ?>
		<td class="text"><?= $row['kvr'] ?></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	<?php if(!isset($_GET['download'])): ?>
		<td align="right"><input size = "6" name="sum_less100" value = "<?= $final['less100'] ?>" /></td>		
	<?php else: ?>
		<td align="right"><?= $final['less100'] ?></td>
	<?php endif; ?>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	<?php if(!isset($_GET['download'])): ?>
		</form>
	<?php endif; ?>
	</tr>
	<tr id="less400">
		<th colspan=17>товары, работы или услуги на сумму, не превышающую четырехсот тысяч рублей (закупки в соответствии с п. 4, 5, 23, 26, 33, 42, 44 части 1 статьи 93 Федерального закона № 44-ФЗ)</td>
	</tr>
	<tr>
	<?php if(!isset($_GET['download'])): ?>
		<form>
		<input type="hidden" name='year' type="submit" value="<?=$year?>">
		<input type="hidden" name='ver' type="submit" value="<?=$ver?>">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><input name="update_final" type=submit value="Применить"></td>
	<?php endif; ?>
		<td class="text"><?= $row['kvr'] ?></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	<?php if(!isset($_GET['download'])): ?>
		<td align="right"><input size = "6" name="sum_less400" value = "<?= $final['less400'] ?>" /></td>		
	<?php else: ?>
		<td align="right"><?= $final['less400'] ?></td>
	<?php endif; ?>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	<?php if(!isset($_GET['download'])): ?>
		</form>
	<?php endif; ?>
	</tr>
	<?php endforeach; ?>
</table>