.multiselect {
    z-index: 9999;
    top: -1000px;
    left: -1000px;
}

.multiselect ul {
    padding: 0;
    margin: 0;
}

.multiselect ul li {
    list-style: none;
    text-align:left;
    white-space: nowrap;
    cursor: pointer;
}

.multiselect ul li label {
    cursor: pointer;
}

.selection {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    width: 235px;
    min-width: 235px;
    min-height: 415px;
    overflow: hidden;
    z-index: 9999;
}

.selection .container label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #eee;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    min-width: 100% !important;
    vertical-align: middle;
    padding: 1px 2px;
}

.selection .container label:hover{
    background-color: #6880A7;
    color: #ffffff;
}

.selection label.selected{
    background-color: #4E6384;
    color: #ffffff;
}

.selection .container label span {
    width: 100%;
    vertical-align: middle;
}

.selection .container {
    background: #fff;
    width: 100%;
    overflow: auto;
    height: 200px;
    min-height: 200px;
    border: 1px solid #ccc;
}

.selection .container input[type="checkbox"] {
    margin-top: 5px;
    vertical-align: middle;
}

.container-box {
    margin: 15px;
}

.filter-dropdown-ul {
    width: 100% !important;
}

.filter-item-menu {
    border: none !important;
    padding: 3px 0 3px 3px;
}

.filter-item-menu:hover {
    background: #00662C;
    background: #6880A7;
    color: #ffffff;
    border-radius: 2px;
}

.filter-item-menu i {
    padding-right: 5px;
    padding-left: 5px;
    width: 15px;
    border-right: 1px solid #ccc;
}

.filter-item-menu i .extra {
    font-size: 9px; 
    margin-left: -7px; 
    border: none;
}

.filter-item-menu span {
    padding-left: 5px;
}

.filter-item-pointer {
    width: 1px;
    border: 1px dashed #ccc;
    width: 100%;
}

.filter-check {
    padding: 0 !important;
    margin-right: 5px !important;
    padding-right: 0 !important;
    border-right: 1px solid #ccc !important;
    font-size: 11px;
}

.parent-li {
    background: url('../../images/arrow-right.png') no-repeat;
    background-position: 96% 50%;
}

.parent-li:hover {
    background: url('../../images/arrow-right-hover.png') no-repeat, #6880A7;
    background-position: 96% 50%;
}

.parent-li:hover .filter-item-menu-submenu {
    display: block;
}

.filter-item-menu-submenu {
    position: absolute;
    top: 71px;
    left: 99%;
    border: 1px solid #ccc;
    color: #000;
    display: none;
    background: #fff;
    border-radius: 4px;
}

.filter-item-menu-submenu li {
    padding: 3px 20px 3px 5px;
}

.filter-item-menu-submenu li:hover {
    background: #6880A7;
    color: #fff;
}

.filter-item-menu-submenu li span {
    border-left: 1px solid #ccc;
    font-weight: bold;
    margin-left: 30px;
}

.filter-item-menu-submenu li i {
    padding-right: 10px;
    margin-right: 5px;
}

.btn {
    position: relative;
    width: 41%;
    margin-left: 6%;
}

.filter-item-footer {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url('../../images/resize-dotts.png') no-repeat;
    right: 3px;
    bottom: 5px;
}

.multiselect-control {
    background: url('../../images/arrow-down.png') no-repeat right center;
    width: 23px;
    height: 16px;
    float: right;
    margin-top: -16px;
    font-size: 12px;
    font-weight: bold;
    color: #575757;
    text-align: center;
    line-height:22px;
}


.filtered {
    background: url('../../images/filter2.png') no-repeat right center;
    width: 23px;
    height: 16px;
    float: right;
    margin-top: -16px;
}

.multiselect-control:hover {
    opacity: 0.7;
    cursor: pointer;
}

.infoMessage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background: #1f6e00;
    border-radius: 4px;
    color: #fff;
    opacity: 0.7;
    padding: 15px;
    display: none;
}

.ico-filter {
    background: url("../../images/filter2.png") no-repeat right center;
}

.ad-filter-down {
    background: url("../../images/filter-arrow-up.png") no-repeat right center !important;
}

.ad-filter-up {
    background: url("../../images/filter-arrow-down.png") no-repeat right center;
}

.speed-search input[type="text"] {
    margin-top: 10px;
    margin-left: 15px;
    width: 83%;
    outline: none;
    border-radius: 2px;
    border: 1px solid #eee;
    padding: 5px;
    font-size: 14px;
    background: url('../../images/search.png') no-repeat 96% 50%;
}

.speed-search input[type="text"]:focus {
    border-color: #bbb;
    -webkit-transition: border-color 0.5s ease;
}

.deselect {
    text-align: center;
    padding-top: 10px;
    display: none;
}

.deselect a {
    text-decoration: none;
    color: #007A35;
}

.deselect a:hover {
    color: #00A347;
}

.default-control {
    padding: 5px 30px;
    border: 1px solid #ccc;
    background: #fff url('/assets/images/arrow-down.png') no-repeat 97% 50%;
    border-radius: 2px;
    display: inline;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
}

.default-control:hover {
    background: #ccc;
    background-image: url('/assets/images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
    cursor: pointer; 
    border: 1px solid #fff;   
}

.default-control:focus {
    box-shadow: none;
}