﻿html, body {
margin: 0px;
padding: 0px;
font-family: Tahoma;
font-size: 14px;
width: 100%;
min-width: 980px;
height: 100%;
background: #f0f0f0;
}

img{border: none;}
h1,h2,h3,h4,h5,h6{color: #004930;text-align: center;margin:0;}
h1{font-size: 140%;}
h2{font-size: 120%;}
a{color: #004930;}

ul {margin:0px;}
input[type=submit], input[type=button] {cursor: pointer;}

th{
color: #fff;
background: #004930;
border: 1px solid grey;
padding: 4px;
text-align: center;
}
th a{color: #fff;}

tbody.scroll {height:800px;overflow:auto;}

.login-body {
	background: #eee;
}

.bad_msg{
text-align: center;
color: #ff0000;
font-weight: Bold;
}

div[data-type="main-sidebar"] {
	position: fixed;
	width: 13%;
	height: 100%;
	background: #424242;
	top: 49px;
	left: 0;
	z-index: 999;
	display: none;
	min-width: 130px;
}

div[data-type="main-sidebar"] ul li {
	color: #eee;
	padding: 9px 15px !important;
	text-transform: uppercase;
	list-style: none;
	font-size: 13px;
	cursor: pointer;
}

div[data-type="main-sidebar"] ul li label {
	cursor: pointer;
}

div[data-type="main-sidebar"] ul li span {
	float: right;
	opacity: 0.7;
	display: none;
}

div[data-type="main-sidebar"] ul li span:hover {
	opacity: 1;
}

div[data-type="main-sidebar"] ul li:hover span {
	display: block;
}

div[data-type="main-sidebar"] ul li::before {
	content: " ";
	width: 10px;
	height: 10px;
	background: #fff;
}

div[data-type="main-sidebar"] ul li:hover {
	background-color: #6880A7;
}

div[data-type="main-sidebar"] ul li a {
	color: #A8B5C9;
}

div[data-type="main-sidebar"] ul li:hover a {
	color: #FFFFFF;
}

.status_journal {
	float: left;
	margin-top: 12px;
	text-decoration: none;
	border-bottom: 1px dashed #004930;
}

.status_journal:hover {
	border-bottom: 1px solid #004930;
}

.no-checkbox {
	margin: 0;
	padding: 0;
}

.attention{
background:#FF9999;
}

/*
.hovered{
background: #F5F5DC;
}

.hovered_link{
cursor: Pointer;
}
*/

.load {
	position: absolute; 
	top: 40%;
	left: 45%;
	width: 200px;
	height: 150px;
}

.load span {
	font-size: 18px;
	font-weight: bold;
	color: rgba(120,120,120,0.9);
	font-family: Tahoma;
}

.loader {
  display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

/*	$Loader Quadrant
	========================================================================== */

.loader-quart {
	border-radius: 50px;
	border: 6px solid rgba(120,120,120,0.4);
}

.loader-quart:after {
	content: '';
	position: absolute;
	top: -6px; 
	left: -6px;
	bottom: -6px;
	right: -6px;
	border-radius: 50px;
	border: 6px solid transparent;
	border-top-color: #a1a1a1;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  	0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
	100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}

.main{
padding-bottom: 10px;
}

.main h1 {
	color: #555;
	margin-top: 14px;
}

input.error{background: #ff5d6a;}

.align_left{text-align: left;}
.align_right{}
.align_center{text-align: center;}
.cleared{clear: both;}

/****************************************/
/************ вход в систему ************/
/****************************************/

.login_panel{
margin: 0 auto;
width: 290px;
height: 150px;
padding: 20px;
}

.login_panel h1{
margin-bottom: 15px;
}

.login_panel p{
margin: 5px;
padding: 0px;
}

.login_panel input{
width: 135px;
margin-right: 55px;
}

.login_panel input[type="submit"]{
width: auto;
margin-right: 130px;
}

/****************************************/
/***************** меню *****************/
/****************************************/

ul.main_menu, ul.sub_menu {
	list-style-type:none;
}

.main_menu {
	width: auto;
	height: 48px;
	font-size: 14px;
	line-height: 48px;
	padding-left: 85px;
}

.main_menu :last-child {
	border-right: none;
}


.main_menu li {
	list-style: none;
	display: inline-block;
	border-left: 1px solid #5d79a3;
	border-right: 1px solid #415370;
	padding: 0 10px;
}

.main_menu li a {
	height: 48px;
	width: 100%;
	color:#fff;
	text-decoration: none;
	font-weight: 100 !important;
	display: inline-block;
}

.main_menu li a i {
	margin-right: 10px;
}

.main_menu li:hover {
	background: rgba(0,0,0,0.2);
}

.sub_menu {
	position: absolute;
	display: none;
	background: #fff;
	padding: 9px;
	line-height: 1.5;
	max-width: 300px;
	border: 1px solid #ccc;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	z-index: 9999;
	margin-left: -12px;
	margin-top: -2px;
}

.sub_menu a {
	color: #606060;
	text-decoration: none;
}

.sub_menu a:hover {
	color: #2f2f2f;
	text-decoration: underline;
}

/****************************************/
/****** отображение верхней части *******/
/****************************************/
.logo{
	top: 0px;
	color: #0c8689;
	background:white;
	text-align: center;
	font-size: 24px;
	font-family: 'Arian AMU';
}

.logotype{
position: relative;
text-align: center;
padding: 5px 0px 5px 0px;
}

.logotype-img {
position: relative;
text-align: center;
padding: 30px 0px 30px 0px;
}

.logotype h2{
margin: 0;
padding: 10px;
color: #005B3A;
font-size: 35px;
text-shadow: black 1px 1px 1px;
}

.logotype div.login_info{
position: absolute;
right: 10px;
top: 10px;
height: 20px;
color: #004930;
font-size: 15px;
text-align: center;
}

/****************************************/
/************** справочники *************/
/****************************************/

#but_search{
border: 1.5px solid #99958c;
width: 20px;
margin: 1px 5px 1px 1px;
color: #000;
}

#but_ok{
border: 1.5px solid #99958c;
background: #cccccc;
width: 40px;
margin: 1px 5px 1px 1px;
color: #000;
}

.spr{
margin: 15px;
}



.spr table tr.new-rec td, .spr table tr.new-rec input, .spr table tr.new-rec select{
/*background:#50a040;*/
color:#000;
}
/*
tr.new-rec input.attention, tr.new-rec select.attention {
background:#ff4d00;
color:#000;
}
*/

.spr_table tbody.scroll td {
overflow:hidden;
}

tr.delrow {background-color:silver;}

/* добавлено Дима Кузнецов 21.03 */
.parent_edit{
margin: 0 auto;
width: 800px;
}
.parent_edit table{
}
.parent_edit td label{
display: inline-block;
width: 100%;
text-align: right;
font-size: 13px;
}
.parent_edit td input,.parent_edit td select, .parent_edit td textarea {
box-sizing:border-box;
width: 300px;
}

p.save_parent{
margin: 0;
padding: 3px;
text-align: center;
}

/* статистика */

.stat_filter{
padding: 5px;
text-align: center;
font-size: 12px;
}

.stat_filter span{
display: inline-block;
}

.stat_filter table{
margin: 0 auto;
}

.stat_filter table td{
text-align: left;
}

.stat_filter table td label.select_label{
display: inline-block;
width: 100%;
text-align: right;
font-size: 12px;
white-space: nowrap;
}

.stat_filter table td select{
width: 230px;
padding: 0px;
}

.stat_filter table td input.input_button{
}

.stat{
}

.stat h4{
padding-left: 10px;
color: #004930;
border: 1px dotted grey;
}

.stat table{
margin: 0 auto;
min-width: 500px;
border: 1px solid grey;
border-collapse: collapse;
box-shadow: 0 4px 7px rgba(0,0,0,0.2);
}

.stat table th{
padding: 3px;
color: #555;
border: 1px solid #ccc;
font-size: 12px;
text-align: center;
background: linear-gradient(to top, #E5E5E4, #FFFFFF);
padding: 8px;
}

.stat table td{
padding: 3px;
border: 1px solid grey;
text-align: center;
border: 1px solid #ccc;
padding: 7px;
}

/* конец статистики */

@media print {
	html,body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	color: #000 !important;
	height: 100%;
	}
	img{
	border: none;
	}
	a{
	color: #000;
	text-decoration: none;
	}
	.no_print{
	display: none;
	}
	h1, h2, h3{
	color: #000!important;
	}
}

.filtered-info {
	position: absolute;
	top: 80px;
	right: 20px;
	background: #005B3A;
	opacity: 0.8;
	width: 200px;
	height: 20px;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	display: none;
}

.ms-table .multiselect-control {
	width: 200px;
	height: 22px;
	border: 1px solid #ccc;
	margin: 5px;
	border-radius: 2px;
	background: #eee url('../images/arrow-updown.png') no-repeat 98% 50%;
}

.ms-table .filtered-control {
	background: #eee url('../images/filter1.png') no-repeat 98% 50%;
}

.code_message span {
	width: 280px;
	float: left;
	background: #ccc;
	text-align: left;
	padding: 10px;
}

.success_code {
	background: #11ad23 !important;
	color: #fff;
}

.error_code {
	background: #c23118 !important;
	color: #fff;
}

.add-new-dogovor-file {
	margin-left: 2px;
	margin-bottom: 20px;
	cursor: pointer;
}

.add-new-dogovor-file a {
	font-size: 16px;
	text-decoration: none;
}

.add-new-dogovor-file a:hover {
	text-decoration: underline;
}

#dogovor-files-upload {
	color: #fff;
	float: right;
	padding: 3px;
	color: #fff;
	margin-left: 230px;
}

#dogovor-files-upload .inputs-group {
}

#dogovor-files-upload .parent_edit {
	width: 260px !important;
}

#dogovor-files-upload input {
} 

.attached-file {
	border: 1px solid #ccc;
	margin: 10px auto;
	padding: 10px;
	background: #fff;
	width: 500px;
}

.attached-file .s-title {
	font-weight: bold;
}

.attached-file:hover {
	border: 1px solid #bbb;
}

.action-buttons .download {
	border: none;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	background: #3883BC;
	text-decoration: none;
	opacity: 0.7;
}

.action-buttons .delete {
	border: none;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	background: #a13030;
	text-decoration: none;
	margin-left: 5px;
	opacity: 0.7;
}

.action-buttons .description {
	border: none;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	background: #3070a1;
	text-decoration: none;
	margin-left: 5px;
	opacity: 0.7;
}

.action-buttons .download:hover {
	opacity: 1;
}

.action-buttons .delete:hover {
	opacity: 1;
}

.action-buttons .description:hover {
	opacity: 1;
}

.attached-file .action-buttons {
	position: relative;
	height: 25px;
	margin-top: 5px;
}

.attached-file:hover .action-buttons:hover {
	opacity: 1;
}

.attached-file .type-image {
	position: absolute;
	background: url('../images/pdf.png') no-repeat;
	width: 100px;
	height: 100px;
}

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 50px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  font-family: 'Arian AMU';
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], .login-card input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-card input[type=text]:hover, .login-card input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #0c8689;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #12a6aa;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}


.form-controls {
	margin: 20px 0;
	border: 1px solid #ccc;
	padding: 20px 10px;
	background: #fff;
}

.form-controls label {
	font-size: 16px !important;
	color: #000;
	font-weight: bold;
}

.form-controls input[type="text"] {
	border: 1px solid #bababa !important;
	border-radius: 2px;
	padding: 5px;
	font-size: 16px;
	width: 100%;
	margin-top: 10px;
	color: #2e2e2e;
	box-sizing:border-box;
	height: 30px;
}

.form-controls textarea {
	border: 1px solid #bababa !important;
	border-radius: 2px;
	padding: 5px;
	font-size: 16px;
	width: 100%;
	margin-top: 10px;
	color: #2e2e2e;
	box-sizing:border-box;
	height: 60px;
}

.form-controls select {
	border: 1px solid #bababa !important;
	border-radius: 2px;
	padding: 3px;
	font-size: 16px;
	margin-top: 10px;
	width: 100%;
	color: #2e2e2e;
	box-sizing:border-box;
	height: 30px;
}

.form-group {
	float: left;
	margin-bottom: 20px;
	width: 50%;
	min-width:350px;
	padding:0 20px;
	box-sizing:border-box;
}

.form-group select:disabled {
	background-color: #EBEBE4;
}

.status-group {
	float: left;
	width: 100%;
	min-width:3px;
	padding:0 10px;
	box-sizing:border-box;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.kartochka_header {
    margin-top: 20px;
}

.filter_contaner_edit {
	width: 800px;
	margin: 20px auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.filter_contaner_edit input {
	display: block;
}

.filter_contaner_edit label {
	display: block;
}

.filter_contaner_edit .checkboxes label {
	display: inline !important;
	margin-right: 20px;
}

.filter_contaner_edit select {
	display: block;
}


.filter_contaner_edit ul {
	padding: 0;
	margin: 0;
	float: left;
}

.filter_contaner_edit ul li {
	list-style: none;
}

.filter_contaner_edit input[type="text"] {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	width: 300px;
	margin-top: 4px;
}

.filter_contaner_edit select {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	width: 312px;
	margin-top: 4px;
}

.content-t {
	margin: 20px auto;
	width: 50%;
}

.content-t textarea {
	height: 27px;
}

.custom-buttons input[type="submit"] {
	border: none;
	padding: 4px 8px;
	border-radius: 2px;
	width: 150px;
	background: #005B3A;
	background: linear-gradient(to top, #465977, #5d7599);
	color: #fff;
	display: inline;
	margin-right: 12px;
	font-weight: bold;
	box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
}

.butt {
	border: none;
	padding: 8px 8px;
	border-radius: 2px;
	width: 150px;
	background: #005B3A;
	background: linear-gradient(to top, #465977, #5d7599);
	color: #fff;
	display: inline;
	font-weight: bold;
	box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
}

.widget {
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	border: 1px solid #c3cee5;
	border-radius: 2px;
	background: #fff;
	margin: 10px;
	padding: 10px;
}

.widget .header {
	font-size: 0.85em;
	border-bottom: 1px solid #ececec;
	padding: 10px;
	font-weight: bold;
	color: #fff;
	border-radius: 2px 2px 0 0;
}

.widget .body {
	font-size: 12px;
	padding: 10px;
}

/* FILTERS CONTAINER */
.pivot-filters {
	display: none;
	margin: 10px;
	padding: 10px;
}

.pivot-filters label {
	font-size: 14px;
	margin-bottom: 7px;
}

.pivot-filters .mst-control {
	width: 100%;
	background: #FFFFFF url('data:image/svg+xml;charset=US-ASCII,<svg%20version%3D"1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20width%3D"40"%20height%3D"40"%20viewBox%3D"0%200%2040%2040"><symbol%20id%3D"a"%20viewBox%3D"-40%200%2040%2040"><path%20fill%3D"none"%20d%3D"M-40%200H0v40h-40z"%2F><path%20fill%3D"none"%20stroke%3D"%23000"%20stroke-width%3D"2"%20stroke-miterlimit%3D"10"%20d%3D"M-24%2023l4-4%204%204"%2F><%2Fsymbol><use%20xlink%3Ahref%3D"%23a"%20width%3D"40"%20height%3D"40"%20x%3D"-40"%20transform%3D"matrix%281%200%200%20-1%2040%2040%29"%20overflow%3D"visible"%2F><%2Fsvg>') 102% 45% no-repeat;
	border: 1px solid #ccc;
	height: 25px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	cursor: pointer;
	padding: 0;
} 

.pivot-filters .mst-control:hover {
	background-color: #dee7f2;
}

.pivot-filters .f-block {
	float: left;
	width: calc(25% - 20px);
	padding: 5px 15px 5px 5px;
}

.custom-buttons a {
	font-weight: bold;
	text-decoration: none;
}

.custom-buttons a:hover {
	text-decoration: underline;
}

.custom-buttons input[type="submit"]:disabled {
	background: #eee !important;
	color: #606060 !important;
}

.custom-buttons input[type="submit"]:hover {
	opacity: 0.9;
}

input:focus {
	outline: none;
}

.custom-buttons input[type="submit"]:focus {
	box-shadow: none;
	outline: none;
	-webkit-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.3);
}

.custom-buttons .delete-submit {
	background: linear-gradient(to top, #701F1F, #A02C2C) !important;
}

.filter_contaner_edit .checkboxes {
	float: right !important;
	margin-bottom: 5px;
	font-size: 15px;
	margin-top: 17px;
}

.filter_contaner_edit .checkboxes input[type="checkbox"] {
	float: right !important;
}

.filter_contaner_edit .checkboxes li {
	margin-bottom: 20px;
}

.filter_contaner_edit .checkboxes input, label {
	display: inline;
}

.u_message {
	position: fixed;
	width: auto;
	color: #fff;
	bottom: 40px;
	right: 20px;
	padding: 5px;
	text-align: center;
	border-radius: 4px;
	z-index: 9999;
}

.error_message {
	background: #9B2B2B;
}

.success_message {
	background-color: rgba(8, 138, 127, 0.8);
	background-image: url('../images/success.svg');
}

.users_list thead td {
	background: #005B3A;
	color: #fff;
	padding: 3px 15px;
}

.users_list thead td {
	background: #005B3A;
	color: #fff;
	padding: 3px 15px;
	border-right: 1px solid #ccc;
	font-weight: bold;
}

.users_list td {
	border: 1px solid #005B3A;
	padding: 5px;
}

.custom_btn {
	margin-left: 20px;
}

.top-header {
	background: #4e6384;
	height: 48px;
	width: 100%;
	z-index: 9999;
	min-width: 1000px;
}

.top-header .th-user {
	float: right;
}

.top-header .th-user > * {
	display: inline-block;
}

.user_select {
	width: 90px;
}

.top-header .th-logo {
	background: rgba(0,0,0,0.1);
	float: left;
	width: 85px;
	height: 100%;
	text-align: center;
	line-height: 48px;
	min-width: 80px;
}

.top-header .th-help {
	float: right;
	position: relative;
	height: 100%;
	font-size: 1.75em;
}

.top-header .th-help i {
	position: relative;
	top: 20%;
	left: 0;
}

.top-header .th-help:hover {
	background: #606060;
}

.top-header .th-help-dropdown {
	display: none;
	position: absolute;
	background: #fff;
	width: 100px;
	height: 100px;
	top: 58px;
	right: 0;
}

.top-header .th-help:hover .th-help-dropdown {
	display: block;
}

.top-header .th-logo-dev {
	background-color: rgba(0,0,0,0.1);
	float: left;
	width: 85px;
	height: 100%;
	text-align: center;
	line-height: 48px;
	min-width: 80px;
}

.top-header .th-logo-dev a {
	text-decoration: none;
}

.top-header .th-logo-dev a span {
	font-family: 'Supermolot';
	color: #ffffff;
	font-size: 20px;
	float: left;
	padding-top: 1px;
}

.top-header .th-logo-dev a div {
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: 50%;
	width: 40px;
	float: left;
	height: 48px;
	padding-top: 6px;
}

.top-header .th-logo-dev:hover {
	background-color: rgba(0,0,0,0.2);
}

.top-header .th-logo img {
	display: inline;
}

.top-header .th-logo-dev img {
	display: inline;
}


.top-header .th-user {
	color: #fff;
	line-height: 48px;
	padding: 0 10px;
	height: 48px;
}

.top-header .th-user a {
	color: #fff;

}

.menu_separator {
	border-bottom: 1px dashed #9e9e9e;
	color: #9e9e9e;
	font-weight: bold;
	margin: 5px 0;
	font-size: 11px;
}

.dogovor_status {
	width: 300px;
	margin: 20px auto;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.dogovor_status a {
	text-decoration: none;
	border-bottom: 1px dashed #088B80;
	color: #088B80;
}

.fixed-message {
	background: #ccc;
	border-radius: 2px;
	width: 800px;
	padding: 10px;
	margin: 10px 0;
	color: #ffffff;
}

.close-system-message {
	color: #fff;
	font-size: 22px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.order-arrow {
	margin-left: -5px;
}

.sort-asc {
	background: url('../images/sort-arrow-down.png') no-repeat 100% 60%;
}

.sort-desc {
	background: url('../images/sort-arrow-up.png') no-repeat 100% 60%;
}

.arrow-to-top {
	position: fixed;
	bottom: 35px;
	right: 35px;
	font-size: 48px;
	opacity: 0.7;
	visibility: hidden;
}

.arrow-to-top i {
	color: #0AA599;
	cursor: pointer;
}

.center {
	width: 100%;
	/*
	height: 100%;
	*/
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}


input[name="delete_user"] {
	width: 100% !important;
}

.floating_sidebar {
	width: 35%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 9999;
	display: none;
}

.left_sidebar {
	width: 12.18%;
	height: 100%;
	background: #424242;
	position: fixed;
	left: 0;
	top: 48px;
	box-shadow: 1px 5px 7px rgba(0,0,0,0.3);
	z-index: 999;
	font-size: 11px;
	min-width: 60px;
}

.left_sidebar ul {
	padding: 0;
}

.left_sidebar ul li {
	list-style: none;
}

.left_sidebar ul li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
	height: auto;
	padding: 8px 15px;
	display: block;
}

.content-pane .td-table {
	margin: 0;
}

.left_sidebar ul li:hover {
	background: #506486;
	cursor: pointer;
}

.left_sidebar .active {
	background: #6880A7;
}

.left_sidebar i {
	margin-right: 6px;
	font-size: 16px;
}

.action_sidebar {
	position: fixed;
	width: 100%;
	background: #333;
	height: auto;
	bottom: 0;
	left: 0;
	padding: 6px;
	z-index: 999;
	min-width: 440px;
}


.action_sidebar p {
	float: right;
}

.action_sidebar a {
	color: #fff;
}

.tab-pane.active {
	top: 65px;
	left: 14%;
}

.tab-pane {
	position: absolute;
	top: -9999px;
	left: -9999px;
	max-width: 1140px;
	height: 100%;
	min-width: 350px;
}

.tab-pane h1 {
	text-align: left;
}


.page-title {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	cursor: pointer;
}

.page-title:hover {
	color: #777;
}

.header-link {
	border-top: 1px solid #586f91;
	background: #2D3A50;
	height: 48px;
}

.right_sidebar {
	width: 25%;
	height: 100%;
	position: fixed;
	background: #fff;
	right: 0;
	top: 0;
	z-index: 999;
}

.ui-tooltip {
	background: #000 !important;
	color: #fff !important;
	border: none !important;
	padding: 5px !important;
	font-size: 11px !important; 
	border-radius: 2px !important;
	box-shadow: none !important;
}

.support {
	clear: both;
	margin: 15px 0;
	text-align: center;
}

.support a {
	font-weight: bold;
}

.textarea-min textarea {
	height: 30px;
}

tr span.childs {
	margin-top: 3px;
}

.custom-select {
	padding: 3px;
    margin: 0 0 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.19);
}

.user-notice-block {
	background: #ffffff;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	border-radius: 3px;
	padding: 12px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.19);
}

.user-notice-block.warning {
	border-left: 4px solid red;
}


.user-notice-block.new {
	border-left: 4px solid green;
}


.user-notice-block.waiting {
	border-left: 4px solid orange;
}

.user-notice-block .title {
	line-height: 25px;
}

.user-notice-block .description {
	color: #606060;
}

.user-notice-block a {
	color: #04a9e0;
	text-decoration: none;
	font-size: 16px;
}

.user-notice-block a:hover {
	color: #0195c6;
	text-decoration: underline;
}

.attach-pic {
	position: relative;
	cursor: pointer;
	max-width: 20px;
}

.files_canvas {
	position: absolute;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 10;
	display: none;
	padding: 10px 27px 5px 10px;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	text-align: left;
}

.files_canvas .close {
	color: red;
	text-align: center;
	width: 20px;
	position: absolute;
	right: 0;
	top: 0;
}

.files_canvas .close i {
	cursor: pointer;
}

.files_canvas.active {
	display: block !important;
}

.files_canvas  ul {
	padding: 0;
	margin: 0;
}

.files_canvas  ul li {
	list-style: none;
	margin-bottom: 10px;
}

.files_canvas  ul li a {
	text-decoration: none;
}

.files_canvas  ul li a:hover {
	text-decoration: underline;
}

.favorite {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0.8;
	background-size: 80%;
	border: none;
}

.favorite.change_color {
	float: left; 
	margin-top: -17px;
}

span.favorite.default {
	background: url('../images/favorite_colors/favorite_default.svg') no-repeat 50% 50%;
	background-size: 80%;
}

span.favorite.red {
	background: url('../images/favorite_colors/favorite_red.svg') no-repeat 50% 50%;
	background-size: 80%;
}

span.favorite.green {
	background: url('../images/favorite_colors/favorite_green.svg') no-repeat 50% 50%;
	background-size: 80%;
}

span.favorite.blue {
	background: url('../images/favorite_colors/favorite_blue.svg') no-repeat 50% 50%;
	background-size: 80%;
}

span.favorite.orange {
	background: url('../images/favorite_colors/favorite_orange.svg') no-repeat 50% 50%;
	background-size: 80%;
}

span.favorite:hover {
	opacity: 1;
}

/*
for ext JS
*/
div.x-field.favorite input.x-form-text {
	background: url('../images/favorite_colors/favorite_default.svg') no-repeat 50% 50%;	
	background-size: 60%;
}
div.x-field.favorite.green input.x-form-text {
	background: url('../images/favorite_colors/favorite_green.svg') no-repeat 50% 50%;
	background-size: 60%;	
}
div.x-field.favorite.red input.x-form-text {
	background: url('../images/favorite_colors/favorite_red.svg') no-repeat 50% 50%;
	background-size: 60%;	
}
div.x-field.favorite.blue input.x-form-text {
	background: url('../images/favorite_colors/favorite_blue.svg') no-repeat 50% 50%;
	background-size: 60%;	
}
div.x-field.favorite.orange input.x-form-text {
	background: url('../images/favorite_colors/favorite_orange.svg') no-repeat 50% 50%;
	background-size: 60%;	
}


.top-header-lnk {
	padding: 0 7px;
	border-left: 1px solid #5d79a3;
    border-right: 1px solid #415370;
    height: 48px;
    display: inline-block;
    text-decoration: none;
}

.top-header-lnk:hover {
	background-color: rgba(0,0,0,0.1);
}

.user_change_form select {
	color: #FFFFFF;
	border-top: 1px solid #5d79a3;
	border-bottom: 1px solid #5d79a3;
	border-left: 1px solid #5d79a3;
	border-right: none;
	background-color: #415370;
	padding: 5px;
	border-radius: 3px 0 0 3px; 
	outline: none;
}

.user_change_form input[type="submit"] {
	color: #FFFFFF;
	border: 1px solid #5d79a3;
	background-color: #415370;
	padding: 6px 5px;
	border-radius: 0 3px 3px 0; 
}

.user_change_form select:hover {
	background-color: #5d79a3;
}

.user_change_form input[type="submit"]:hover {
	background-color: #5d79a3;
}

.header-tools {
	background-color: #2D3A50;
	height: 48px;
	width: 100%;
	color: #fff;
}

.header-tools h1 {
	padding: 10px 0;
	margin: 0;
	color: #fff;
}

.spinner {
	width: 50px;
	height: 50px;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	background-image: url('../images/spinner.svg');
	background-color: rgba(0, 0, 0, 0.7);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 4px;
	display: none;
}

.filters-editor.active {
	display: block;
}

.filters-editor button {
	display: block;
	margin: 5px auto;
	border: 2px solid #4E6384; 
	color: #4E6384;
	background-color: #fff;
	border-radius: 3px;
	padding: 4px;
	cursor: pointer;
	width: 260px;
}

.filters-editor button:hover {
	color: #fff;
	background-color: #4E6384;
}

.filters-editor select {
	padding: 5px;
	width: 260px;
}

.pseudo-link {
	color: #447598;
	border-bottom: 1px dashed #447598;
	cursor: pointer;
	text-decoration: none !important;
}

.pseudo-link:hover {
	color: #447598;
	border-bottom: none;
	cursor: pointer;
}

.cust-group {
    border: 1px solid #d4d5d8;
    border-bottom-width: 2px;
    border-radius: 3px;
    margin: 3px 0 0;
    background: #fff;
    padding: 4px 10px;
    position: relative;
    margin-bottom: 10px;
}

.cust-group input[type="text"] {
	margin-bottom: 10px;
}

.cust-select {
	position: relative;
	height: 20px;
	max-height: 38px;
    padding: 5px;
    border: 1px solid #dbdedf;
    border-bottom-width: 2px;
    border-radius: 3px;
    font-weight: normal;
    background: #fcfcfc;
    color: #2e3640;
    position: relative;
    z-index: 1;
    margin: 10px 0;
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    cursor: pointer;
}

.cust-select:hover {
	border: 1px solid #cccece;
	border-bottom-width: 2px;
}

.cust-select:active {
	border: 1px solid #cccece;
	border-bottom-width: 2px;
	top: 1px;
}

.gz-position {
	position: relative;
	width: 100%; 
	float: left;
	margin-right: 30px;
}

.gz-position .delete {
	content: " ";
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0px;
	width: 18px;
	height: 18px;
	background: url('../images/del_.png');
	display: none;
}

.gz-fields {
	position: relative;
	width: 100%; 
	float: left;
	margin-right: 30px;
}

.gz-fields p {
	margin-top: 10px;
	margin-bottom: 10px;
}


.content-pane {
	margin-left: 14%;
}

.content-pane h1 {
	text-align: left;
	margin-top:20px;
}

.half {
	float: left;
	width: 48%;
	margin-right: 10px;
}

.hidden-box {
	display: none;
}

.add-btn {
	border: 1px solid #666;
	border-radius: 100px;
	outline: none;
}

.add-btn:hover {
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}

@media screen and (max-width: 1280px) {
	.main_menu{
		font-size: 12px;
	}
}

@media screen and (max-width: 1024px) {
	.main_menu{
		font-size: 11px;
	}
}
