.modal-overlay {  position:fixed;  top:0;   right:0;   bottom:0;   left:0;   height:100%;   width:100%;   margin:0;   padding:0;   background:#fcfcfc;   opacity:0;  display:none; }

.modal-editbox , .modal-mergebox {  position:absolute;   background: #ebebeb;   text-align: center;   display:none;   padding-bottom:5px;}

.modal-editbox , .modal-editbox-move , .modal-mergebox , .modal-mergebox-move   {   border:solid 2px #636363;   border-radius: 3px;   box-shadow: 0 1px 2px rgba(0,0,0,.2);}

.modal-editbox-move , .modal-mergebox-move {   background: gray;   opacity:.50; }

.modal-editbox .title , .modal-mergebox .title{   text-align:left;   font-weight:bold;   padding:4px;   font-size:1em;   color:white;   cursor: move;  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);   background: -moz-linear-gradient(left, #2F2727, #1a82f7);   background: -ms-linear-gradient(left, #2F2727, #1a82f7);   background: -o-linear-gradient(left, #2F2727, #1a82f7); }

.modal-editbox .body , .modal-mergebox .body{ 	margin:5px; }

.modal-editbox .body  button , .modal-mergebox .body  button{   float:right;   margin-top: 8px;   margin-bottom: 2px;   margin-right: 12px;   margin-left: 2px;   background: #e3e3e3;   border: solid 1px #888888;   color: #222222;   line-height:17px;   cursor:pointer;   font-family: Tahoma;   font-weight:bold;   font-size:1em;    padding: 3px 6px 3px 6px; }

.modal-editbox .body  button[name="delete"] , .modal-editbox .body  button[name="restore"]{ float:left; margin-left: 12px;} 


.modal-editbox .body  table , .modal-mergebox .body  table{  background: #C7C7C7;   border:solid 1px #636363; width: 100%; }


.modal-editbox .body  table th , .modal-mergebox .body  table th { text-align:right;}
.modal-editbox .body  table td , .modal-mergebox .body  table td { padding: 0px 2px 0px 2px; border: 1px solid grey; }

.modal-editbox .body  table td input,.modal-editbox .body  table td select , .modal-mergebox .body  table td input,.modal-mergebox .body  table td select,.modal-editbox .body  table td textarea {   
width:100%;   border:0px;   margin: 0px; box-sizing:border-box; }
