table.td-table {
    margin: 0 auto;
    border-collapse: collapse;
    table-layout:fixed;
    box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}

table.td-table.fixed th, table.td-table.fixed td{
    overflow:hidden;
}

table.td-table th span.td-order {
    padding-right:10px; /*space for image*/
    cursor:pointer;
}

/* row with th*/
table.td-table tr.moveable {
    /*cursor: move;*/
}

table.td-table  th{
    color: #555;
    border: 1px solid #ccc;
    padding: 8px;
    background: linear-gradient(to top, #E5E5E4, #FFFFFF);
}

/* Filter Item(icon, dropdown list) */

/* itogo */
table.td-table  tr.itogo{
    background: #f4f4f4;
}

table.td-table th a{color: #fff;}

table.td-table tbody tr{
    background: #fff;
    cursor:default;
}

table.td-table tbody tr:hover{
    background: #b8c4d6;
}

table.td-table td {
    padding: 7px;
    border: 1px solid #ccc;
}

table.td-table td.small-txt {
    text-overflow: ellipsis;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
}

table.td-table td.hidden, table.td-table th.hidden{
    overflow:hidden;
    visibility:collapse;
    padding: 0;
    border:0;
}

table.td-table td.hidden, table.td-table th.hidden span{
    width:0;
}

table.td-table tr.filter td{
	padding: 0;
	background: #eee;
	border: 1px solid grey;
}


/*table.td-table tr.filter td*/
table.td-table tr.filter input.filter,table.td-table  tr.filter select.filter{
    margin: 0;
    border: none;
    background: #cccccc;
    box-sizing:border-box;
    width:100%;
}
tr.filter  .ui-dropdownchecklist-selector-wrapper {
    width:100%;
}
tr.filter .ui-dropdownchecklist-selector {
    width:100%;
}
#move-pointer {
    background:url('/td/images/col_pointer.png');
    z-index:100;
    width:10px;
    height:20px;
}
table.td-table tr.updated {
	background-color:yellow;
}

table.td-table tr.edited {
	background-color: #b4b4b4;
}

table.td-table tr.active {
    background-color: #d0dced;
}

table.td-table td.checkbox {
    /*padding:2px 14px 0 14px;*/
    text-align:center;
    cursor:pointer;
    /*background: url(/images/checkbox_not_checked.png) center no-repeat;*/
}
span.checkbox {
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #9a9ca0;
    border-radius: 2px;
    display: inline-block;
    position:relative;
    background:white;
    color:black;
}

span.checkbox:after {
    position:absolute;
    top:-8px;
    left:0px;
    text-align:center;
    font-size:18px;
    color:black;
}

span.checkbox.checked:after {
    content: "\2713";
}

span.checkbox.uncheck:after {
    left:2px;
    content: "-";
}
table.td-table th.check-all {
    cursor: pointer;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#cccccc));
    background-image: -moz-linear-gradient(#f4f4f4, #cccccc);
    background-image: -ms-linear-gradient(#f4f4f4, #cccccc);
    background-image: -o-linear-gradient(#f4f4f4, #cccccc);
    background-image: linear-gradient(#f4f4f4, #cccccc);
}
table.td-table th.check-all .td-drop-down-arrow {
    margin-left:10px;
}


form.editbox-form td.checkbox {
    padding:0px;
}
/* сперто c mail.ru */
.td-drop-down-arrow {
    margin: 7px 0 1px 2px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    vertical-align: top;
}

ul.show-columns {
    position:absolute;
    display:block;
    padding:5px;
    border: 1px solid #ccc;
    cursor:pointer;
    list-style-type:none;
    z-index:1; /*above overlay*/
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

ul.show-columns li {
    text-align:left;
    background-color:white;
    padding: 5px 3px;
}

ul.show-columns li:hover {
    color: #606060;
}


ul.show-columns li:before {
    content: "\2713";
    color:white;
    margin-right: 5px;
    margin-right: 5px;
    font-size: 10px;
    border: 1px solid #0AA599;
    padding: 1px 3px;
    border-radius: 2px;
    font-weight: 400;
}

ul.show-columns li.selected:before {
    color:#fff;
    background: #0AA599;
}

ul.check-all-action {
    position:absolute;
    display:block;
    background:white;
    color:black;
    text-align:left;
    padding:5px;
    width:150px;
    border: 1px solid gray;
    cursor:pointer;
    list-style-type:none;
    z-index:1; /*above overlay*/
}
ul.check-all-action li:hover {
    background:#b8c4d6;
}

.td-table-wrap {
    margin-top: 20px;
}

/*
tr.delrow {
	background-color:silver;
}
*/

.table-area {
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: scroll;
}