body {
    background: #ededed;
}

.grid {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.xls {
    background: url('img/xls.png');
}

.proc {
    background: url('img/proc.png');
}
